<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Users\Arthur\source\repos\Raymarcher\C#\bin\x64\Release\Raymarcher.exe" PdbFullPath="C:\Users\Arthur\source\repos\Raymarcher\C#\bin\x64\Release\Raymarcher.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Program Files\Altimesh\Hybridizer Essentials\bin\Hybridizer.PTXJitterService.10.1.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;--relocatable-device-code=false;-lineinfo;--std=c++14;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="Vector3D">
      <HybridizedMethod MethodName="Angle" MethodRename="Vector3Dx46Angle" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="RotatePointAroundPivot" MethodRename="Vector3Dx46RotatePointAroundPivot" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="Vector3D.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <HybridElements HybridType="Voxine.GPUCamera">
      <HybridizedMethod MethodName="GPUPixels" MethodRename="Voxinex46GPUCamerax46GPUPixels" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Byte[]</string>
          <string>Voxine.GPUCamera+GPUSphere[]</string>
          <string>System.Int32</string>
          <string>Voxine.GPUCamera</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Angle" MethodRename="Voxinex46GPUCamerax46Angle" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Angle" MethodRename="Voxinex46GPUCamerax46Angle" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Hybridizer.Runtime.CUDAImports.float3</string>
          <string>Hybridizer.Runtime.CUDAImports.float3</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Scalar" MethodRename="Voxinex46GPUCamerax46Scalar" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Scalar" MethodRename="Voxinex46GPUCamerax46Scalar" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Hybridizer.Runtime.CUDAImports.float3</string>
          <string>Hybridizer.Runtime.CUDAImports.float3</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="GetDir" MethodRename="Voxinex46GPUCamerax46GetDir" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Voxine.GPUCamera</string>
          <string>Vector2I</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Acos" MethodRename="Voxinex46GPUCamerax46Acos" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Acos" MethodRename="Voxinex46GPUCamerax46Acos" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Single</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Tan" MethodRename="Voxinex46GPUCamerax46Tan" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Atan" MethodRename="Voxinex46GPUCamerax46Atan" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="RotateAroundX" MethodRename="Voxinex46GPUCamerax46RotateAroundX" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="RotateAroundY" MethodRename="Voxinex46GPUCamerax46RotateAroundY" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Hit" MethodRename="Voxinex46GPUCamerax46Hit" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
          <string>Voxine.GPUCamera+GPUSphere[]</string>
          <string>System.Int32</string>
          <string>Voxine.GPUCamera</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="GetClosestIndex" MethodRename="Voxinex46GPUCamerax46GetClosestIndex" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Voxine.GPUCamera+GPUSphere[]</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="GetSphereNormal" MethodRename="Voxinex46GPUCamerax46GetSphereNormal" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Direction" MethodRename="Voxinex46GPUCamerax46Direction" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="ClosestDistance" MethodRename="Voxinex46GPUCamerax46ClosestDistance" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Voxine.GPUCamera+GPUSphere[]</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Length" MethodRename="Voxinex46GPUCamerax46Length" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Length" MethodRename="Voxinex46GPUCamerax46Length" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Hybridizer.Runtime.CUDAImports.float3</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="DistanceToSphere" MethodRename="Voxinex46GPUCamerax46DistanceToSphere" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
          <string>Vector3D</string>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="Voxine.GPUCamera.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <HybridElements HybridType="Voxine.EQuaternion">
      <HybridizedMethod MethodName="FromEuler" MethodRename="Voxinex46EQuaternionx46FromEuler" ForceEntryPoint="false">
        <ParameterTypes>
          <string>Vector3D</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="FromEuler" MethodRename="Voxinex46EQuaternionx46FromEuler" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Double</string>
          <string>System.Double</string>
          <string>System.Double</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="ToEuler" MethodRename="Voxinex46EQuaternionx46ToEuler" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Numerics.Quaternion</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="Voxine.EQuaternion.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>